img, .img2{
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

main {
    flex-grow: 0;
}

.header-class {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 1158px;
    
}
.header-container {
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 15px;
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
}

.logo,
.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

.address-class {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.logo-span {
    color: #2e2f42;
    text-decoration: none;
}

.logo-span-footer {
    color: rgba(244, 244, 253, 1);
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.nav-list li a {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-button,
.contacts-button {
    color: #2e2f42;
    
}

.nav-button:hover,
.nav-button:focus{
    color: #404bbf;
}

.nav-button-studio {
    color: #404bbf;
    position: relative;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button-studio::after{
    content: '';
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
}

.contact-link {
    display: flex;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.contact-link:hover,
.contact-link:focus,
.contacts-button:hover,
.contacts-button:focus{
    color: #404bbf;
}

.contact-list {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding-left: 0;
}

.contact-list li a {
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
    font-weight: 400;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page {
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/BG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 100%;
    margin: auto;
}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;
    padding-top: 188px;
}

.main-button {
    background-color: #4D5AE5;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    height: 56px;
    min-width: 169px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 188px;
}

.block-service {
    padding-top: 120px;
    padding-bottom: 120px;
}

.block-service-div {
    gap: 8px;
}


.list-strategy {
    list-style: none;
    display: flex;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-benefits{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
}

.social-media-icons{ 
    fill: rgba(244, 244, 253, 1);
}

.title-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.li-list-strategy {
    margin: 0;
    padding-left: 0;
    width: calc((100% - 72px) / 4);
}

.title-strategy {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text-strategy {
    letter-spacing: 0.02em;
    line-height: 1.5;
    
}

.block-service p {
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
}

.block-team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
    padding-top: 120px;
}

.block-team-title {
    margin-bottom: 72px;
}

.block-team-title,
.title-portfolio {
    color: rgba(46, 47, 66, 1);
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.11;
}

.list {
    justify-content: center;
    list-style: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px;
    margin: 0;
    padding-left: 0;
    
}

.foto-block {
    background-color: WHITE;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
    
.team-title,
.team-role {
    flex-direction: column;
    padding-top: 8px;
}

.name-container {
    padding: 32px 0;
}

.ul-list-benefits {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icons-adress-raw{
    width: 40px;
    height: 40px;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-adress-raw:hover,
.icons-adress-raw:focus{
    background-color: #404bbf;  
}

.social-media-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.list-benefits{
    list-style: none;
    gap: 24px;
}

.team-title {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-role {
    line-height: 1.5;
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
    background-color: #FFFFFF;
    padding-bottom: 8px;
    text-align: center;
}

.title-portfolio {
    color: rgba(46, 47, 66, 1);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
}

.block-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.description-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-option {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-portfolio-litle {
    margin-bottom: 8px;
}

.portfolio-list {
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.block-card {
    position: relative;
    overflow: hidden;
}

.card-benefits {
    position: absolute;
    top: 0;
    background-color:rgba(77, 90, 229, 1);
    transform: translateY(100%);
    left: 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(244, 244, 253, 1);
    
}

.li-portfolio-list{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-portfolio-list:hover,
.li-portfolio-list:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.li-portfolio-list:hover .card-benefits {
    transform: translate(0);
}

.footer-block {
    background-color: #2e2f42;
    align-content: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-footer {
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.portfolio-list h3 {
    font-size: 18px;
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.social-media-footer{
    color: WHITE;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-block-items{
    display: flex;
    align-items: baseline;
}

.list-benefits-footer{
    display: flex;
    list-style: none;
    gap: 16px;
}

.border-benefits-footer {
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    gap: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border-benefits-footer:hover,
.border-benefits-footer:focus {
    background-color: #31d0aa;
} 

.benefits-footer {
    fill: rgba(244, 244, 253, 1);
    padding-left: 0;
    padding-top: 2px;
}

.footer-box {
    margin-right: 120px;
}



footer a {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}